@import "fonts";
@import "base";

.header {
  margin: 60px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-btn {
    display: flex;
    align-items: center;
    .header-btn__caption {
      margin-right: 22px;
      font-size: 14px;
      color: #F2F2F2;
    }
    .header-btn__icon {
      width: 27px;
      height: 21px;
      background-image: url("images/icons/icon-menu.svg");
      background-size: cover;
      cursor: pointer;
      @include transition(all 0.3s ease);
      &:hover {
        @include transform(scale(1.2));
      }
      &:active {
        position: relative;
        top: 1px;
      }
    }
  }
}

.navigations {
  position: fixed;
  top: calc(50% - 70px);
  left: 26px;
  display: grid;
  gap: 30px;
  .navigations-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    text-decoration: none;
    .navigations-item__title {
      margin-right: 20px;
      font-size: 14px;
      color: #828282;
    }
    .navigations-item__icon {
      width: 10px;
      height: 10px;
      background-color: #828282;
      border-radius: 50%;
    }
    &:hover {
      margin-right: -5px;
      .navigations-item__title {
        margin-right: 15px;
        color: #FFFFFF;
      }
      .navigations-item__icon {
        width: 20px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0);
        background-image: url("images/icons/navigation-active-item.svg");
      }
    }
    &:active {
      position: relative;
      top: 1px;
    }
  }
  .active-item {
    margin-right: -5px;
    .navigations-item__title {
      margin-right: 15px;
      color: #FFFFFF;
    }
    .navigations-item__icon {
      width: 20px;
      height: 20px;
      background-color: rgba(0, 0, 0, 0);
      background-image: url("images/icons/navigation-active-item.svg");
    }
  }
}

.banner {
  margin-bottom: 173px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .banner-title {
    margin: 104px auto 69px;
    max-width: 795px;
    width: 100%;
    font-size: 64px;
    text-align: center;
  }
  .banner-btn {
    margin-bottom: 145px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    @include transition(all 0.3s ease);
    &:hover {
      @include transform(scale(1.1));
    }
    &:active {
      position: relative;
      top: 1px;
    }
    .banner-btn__caption {
      margin-right: 14px;
      font-size: 24px;
      color: #FFEB9F;
    }
    .banner-btn__icon {
      width: 10px;
      height: 18px;
      background-image: url("images/icons/arrow-right-yellow.svg");
      background-size: cover;
    }
  }
  .banner-quote {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .banner-quote__icon {
      margin-right: 16px;
      width: 35px;
      height: 1px;
      background-color: #FFFFFF;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
    }
    .banner-quote__description {
      max-width: 319px;
      width: 100%;
      text-align: right;
      color: #BDBDBD;
    }
  }
}

.description {
  margin-bottom: 144px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .description-content {
    max-width: 467px;
    width: 100%;

    .description-content__title {
      margin-bottom: 48px;
      font-weight: bold;
      font-size: 64px;
    }

    .description-content__desc {
      line-height: 22px;
      color: #BDBDBD;

      span {
        font-weight: bold;
        font-style: italic;
      }
    }
  }

  .description-statistics {
    width: 450px;
    .description-statistics__item {
      position: relative;
      background-color: #4C5EB4;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @include transition(all 0.3s ease);
      &:hover {
        @include transform(scale(1.05));
      }
      .description-statistics__item-content {
        width: 100%;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        .description-statistics__item-number {
          margin: 5px auto;
          font-weight: bold;
          font-size: 72px;
          line-height: 83px;
        }
      }
    }

    .projects-item {
      left: 56px;
      width: 184px;
      height: 184px;
    }

    .users-item {
      left: 200px;
      margin-top: 45px;
      margin-bottom: 49px;
      width: 231px;
      height: 231px;
    }

    .players-item {
      width: 262px;
      height: 262px;
    }
  }
}

.projects {
  margin-bottom: 90px;
  .projects-title {
    margin-bottom: 76px;
    width: 100%;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
  }
  .projects-list {
    margin-bottom: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 370px);
    grid-template-rows: repeat(auto-fill, minmax(307px, auto));
    justify-content: center;
    column-gap: 30px;
    row-gap: 76px;
    .projects-list__item {
      width: 100%;
      min-height: 307px;
      height: auto;
      padding: 0 34px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      box-sizing: border-box;
      background-color: #101429;
      background-size: cover;
      cursor: pointer;
      &:hover {
        background-image: url("images/project-back.png");
        .projects-list__item-header {
          .projects-list__item-header-title {
            .projects-list__item-header-title-direction, .projects-list__item-header-title-name {
              color: #FFFFFF;
            }
          }
        }
        .projects-list__item-description {
          color: #FFFFFF;
        }
      }
      &:active {
        position: relative;
        top: 1px;
      }
      .projects-list__item-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .projects-list__item-header-avatar {
          margin-right: 20px;
          width: 100px;
          height: 100px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border: 3px solid #FFFFFF;
          border-radius: 50%;
        }
        .project-1 {
          background-image: url("images/project-1.png");
        }
        .project-2 {
          background-image: url("images/project-2.png");
        }
        .project-3 {
           background-image: url("images/project-3.png");
        }
        .project-4 {
          background-image: url("images/project-4.png");
        }
        .projects-list__item-header-title {
          width: 50%;
          text-align: right;
          .projects-list__item-header-title-direction {
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            color: #81838C;
          }
          .projects-list__item-header-title-name {
            font-weight: bold;
            font-size: 24px;
            line-height: 26px;
            color: #81838C;
          }
        }
      }
      .projects-list__item-description {
        width: 100%;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #81838C;
      }
    }
  }
  .projects-btn {
    max-width: 382px;
    padding: 18px 0;
    margin: 0 auto;
    background-color: #4C5EB4;
    box-shadow: 0 25px 48px rgba(76, 94, 180, 0.25);
    border-radius: 4px;
    font-weight: 600;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    @include transition(all 0.3s ease);
    &:hover {
      @include transform(scale(1.1));
    }
    &:active {
      position: relative;
      top: 1px;
    }
  }
}

.contacts {
  margin: 0 auto;
  padding: 56px;
  max-width: 568px;
  background-color: #FFFFFF;
  background-image: url("images/contacts-back.png");
  background-size: cover;
  border-radius: 11px;
  .contacts-title {
    margin-bottom: 54px;
    max-width: 427px;
    width: 100%;
    font-weight: bold;
    font-size: 38px;
    line-height: 47px;
    color: #000000;
  }
  .contacts-list {
    margin-bottom: 54px;
    .contacts-list__item {
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      color: #000000;
    }
  }
  .contacts-info {
    max-width: 372px;
    width: 100%;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    .contacts-info__email {
      margin-right: 16px;
      font-weight: normal;
      font-size: 24px;
      color: #4C5EB4;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
      &:active {
        position: relative;
        top: 1px;
      }
    }
    .contacts-info__icon {
      width: 14px;
      height: 17px;
      display: inline-block;
      background-image: url("images/icons/icon-email.svg");
      background-size: cover;
    }
  }
}

.footer {
  margin: 74px auto 65px;
  display: flex;
  justify-content: space-between;
  .footer-group {
    .footer-group__title {
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: #F2F2F2;
    }
    .footer-group__item {
      margin-top: 6px;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #A9ABB3;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      &:active {
        position: relative;
        top: 1px;
      }
    }
    .footer-group__links {
      margin-top: 22px;
      width: 114px;
      display: flex;
      justify-content: space-between;
      .footer-group__links-item {
        background-size: cover;
        height: 15px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          position: relative;
          top: 1px;
        }
      }
      .discord {
        width: 19px;
        background-image: url("images/icons/icon-discord.svg");
      }
      .insta {
        width: 15px;
        background-image: url("images/icons/icon-insta.svg");
      }
      .vk {
        width: 24px;
        background-image: url("images/icons/icon-vk.svg");
      }
    }
  }
}

@media (max-width: 1300px) {
  .navigations {
    left: 8px;
    .navigations-item {
      .navigations-item__title {
        display: none;
      }
    }
  }
}

@media (max-width: 940px) {
  .description {
    .description-statistics {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 40px;
      .description-statistics__item {
        position: static;
      }
    }
  }
}

@media (max-width: 860px) {
  .projects {
    .projects-list {
      grid-template-columns: minmax(auto, 370px);
      gap: 30px;
    }
  }
}

@media (max-width: 765px) {
  .description {
    flex-direction: column;
    .description-content {
      max-width: 100%;
      text-align: center;
    }
    .description-statistics {
      margin-top: 45px;
      width: 100%;
      margin-left: 0;
      .users-item, .projects-item {
        width: 262px;
        height: 262px;
      }
    }
  }
}

@media (max-width: 700px) {
  .banner {
    .banner-title {
      font-size: 48px;
    }
  }
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    .footer-logo {
      margin-top: 30px;
    }
    .footer-group {
      margin-top: 30px;
    }
  }
}

@media (max-width: 470px) {
  .header {
    .header-logo {
      width: 150px;
    }
  }
  .description {
    .description-content {
      .description-content__title {
        font-size: 48px;
      }
    }
  }
  .projects {
    .projects-title {
      font-size: 48px;
    }
  }
}

@media (max-width: 380px) {
  .description {
    .description-content {
      .description-content__title {
        font-size: 40px;
      }
    }
  }
  .projects {
    .projects-title {
      font-size: 40px;
    }
    .projects-list {
      .projects-list__item {
        padding: 0 20px;
      }
    }
  }
  .contacts {
    padding: 40px;
    .contacts-title {
      font-size: 30px;
      line-height: 41px;
    }
    .contacts-list {
      .contacts-list__item {
        font-size: 18px;
        line-height: 26px;
      }
    }
    .contacts-info {
      font-size: 18px;
      line-height: 26px;
      .contacts-info__email {
        font-size: 18px;
        margin-right: 8px;
      }
    }
  }
}

@media (max-width: 340px) {
  .header {
    .header-logo {
      width: 120px;
    }
  }
  .banner {
    .banner-title {
      font-size: 40px;
    }
  }
  .navigations {
    left: 4px;
  }
  .projects {
    .projects-list {
      .projects-list__item {
        .projects-list__item-header {
          .projects-list__item-header-avatar {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
